<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.scuhmz.cordova.ShareSDK"
        version="0.0.1">

    <name>ShareSDK</name>
    <description>A cordova plugin, a JS version of ShareSDK</description>
    <license>MIT</license>
    <keywords>cordova,ShareSDK,share</keywords>
    <repo>https://github.com/nwpuhmz/ShareSDKPlugin.git</repo>
    <issue>https://github.com/nwpuhmz/ShareSDKPlugin/issues</issue>

    <!-- add this to your config.xml -->
    <!-- <preference name="WECHATAPPID" value="YOUR_WECHAT_APP_ID_HERE" /> -->
    <preference name="WECHATAPPID" />
    <preference name="SHARESDKAPPID" />
    <preference name="WECHATAPPSECRET" />
    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <!-- js module-->
    <js-module src="www/sharesdk.js" name="ShareSDK">
        <clobbers target="ShareSDK" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="ShareSDK">
                <param name="ios-package" value="CDVShareSDK"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="WECHATAPPID" value="$WECHATAPPID"/>
            <preference name="SHARESDKAPPID" value="$SHARESDKAPPID"/>
            <preference name="WECHATAPPSECRET" value="$WECHATAPPSECRET"/>

        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>wechat</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$WECHATAPPID</string>
                    </array>

                    <key>LSApplicationQueriesSchemes</key>
                    <array>
                        <string>weixin</string>
                        <string>wechat</string>
                    </array>

                    <key>NSAppTransportSecurity</key>
                    <dict>
                        <key>NSAllowsArbitraryLoads</key>
                        <true/>
                    </dict>
                </dict>
            </array>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVShareSDK.h" />
        <source-file src="src/ios/CDVShareSDK.m" />

         <!-- Wechat Official -->
        <header-file src="src/ios/libs/ShareSDK/Extend/WeChatSDK/WXApi.h" />
        <header-file src="src/ios/libs/ShareSDK/Extend/WeChatSDK/WXApiObject.h" />
        <source-file src="src/ios/libs/ShareSDK/Extend/WeChatSDK/libWeChatSDK.a" framework="true" />
        <resource-file src="src/ios/libs/ShareSDK/UI/ShareSDKFlatShareViewUI.bundle" />
        <resource-file src="src/ios/libs/ShareSDK/Core/ShareSDKLocalizable.strings" />
        <resource-file src="src/ios/libs/ShareSDK/Core/Resource.bundle" />
        <resource-file src="src/ios/libs/ShareSDK/Extend/QQConnectSDK/TencentOpenApi_IOS_Bundle.bundle" />
        <!-- Sina Official -->
        <header-file src="src/ios/libs/ShareSDK/Extend/SinaWeiboSDK/WeiboSDK.h" />
        <source-file src="src/ios/libs/ShareSDK/Extend/SinaWeiboSDK/libWeiboSDK.a" framework="true" />
        <resource-file src="src/ios/libs/ShareSDK/Extend/SinaWeiboSDK/WeiboSDK.bundle" />
        <!-- ShareSDK -->
        <framework src="src/ios/libs/ShareSDK/ShareSDK.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/CopyConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/MailConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/QQConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/QZoneConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/SinaWeiboConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/SMSConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/TencentWeiboConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Connection/WeChatConnection.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Core/ShareSDKCoreService.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Core/AGCommon.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Core/MOBFoundation.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/UI/ShareSDKShareActionSheet.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/UI/ShareSDKFlatShareViewUI.framework" custom="true"/>
        <framework src="src/ios/libs/ShareSDK/Extend/QQConnectSDK/TencentOpenAPI.framework" custom="true"/>


        
        <!-- Other required frameworks -->
        <framework src="libz.1.2.5.dylib" />
        <framework src="MessageUI.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="Security.framework" weak="true" />
        <framework src="libstdc++.dylib" />
        <framework src="QuartzCore.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="libicucore.dylib" />
        <framework src="JavaScriptCore.framework" weak="true" />
        <framework src="CoreText.framework" weak="true" />
        <framework src="libsqlite3.dylib" />
        <framework src="ImageIO.framework" weak="true" />

    </platform>

    <!-- android -->

</plugin>
